@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;750;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-cream: #FCFAF6;
  --color-brand-clay: #E07A5F;
  --color-brand-forest: #3D5A80;
  --color-brand-deep: #293241;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-deep);
  font-family: var(--font-sans);
}
